## TODO (iaguilar) clean this legacy ignore block

.*.sw?
.*.vis.*
/analysis*/
/data*/
/reference*/
/results*/
/reports*/
condor*
config.mk
/ignore/*
/prueba*/
ref-*/

## ENDS legacy ignore block

## Ignore local mkmodule test results
mkmodules/*/test/results

## ignore .nextflow hidden files
.nextflow*

## ignore NextFlow work directory
work/

## ignore test data intermediate directory
test/data/query/Extend_Align_intermediate/
## ignore test data results directory
test/data/query/Extend_Align_results/

## ignore .fai files
## If needed by bedtools, they are created during the run by bedtools itself
*.fai
