.*.sw?
.*.vis.*
/analysis*/
/data*/
/reference*/
/results*/
/reports*/
condor*
/config*/
config.mk
/ignore/*
/prueba*/
ref-*/

## Ignore local mkmodule test results
mkmodules/*/test/results

## ignore .nextflow hidden files
.nextflow*
