/*
* -------------------------------------------------
* The ExtendAlign Nextflow Pipeline config file
* -------------------------------------------------
* Cluster-specific config options should be saved
* in the config_profiles folder and imported under a profile
* name here.
*/

// Profiles

profiles {

// Profile for SGE cluster configuration option
  sge {
    includeConfig 'config_profiles/sge.config'
  }
// Profile for Condor cluster configuration option
  condor {
    includeConfig 'config_profiles/condor.config'
  }
