/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A config file customized for a SGE cluster environment.
 */


process {

  executor = 'sge'    // Defining SGE cluster environment.

  queue = 'mainqueue' // Please rememeber to change this parameter according to the queue's name available for you.

  }
